<html>
    <head>
	<title>Matalyst | Factors</title>
	<link rel="stylesheet" type="text/css" href="/static/factors.css">
    </head>
    <body>
	<div id="logo">
		<a href="/matalyst/numbers/factorization/get"><img src="/static/logo2.png" width="100px"/></a>
	</div>
	<div id="header">
		<div id="cname">
			<span>Matalyst</span>
		</div>
		<div id="factor">
			<form method="POST" id="form">
			    <input type="text" name="number" id="number" placeholder="Enter a Number"/>
			    <input type="submit" value="Find Factors" id="submit"/>
			</form>
		</div>		
	</div>
	<div id="content">
		<div>
			<p><b>Factor</b> :<br/> Factor is a number or quantity that when multiplied with another produces a given number.</p>
			<img src="/static/factor.gif" style="margin-left: 35%;"/>
		</div>
		<div>
			<p>
				<span id="example_header"><b>Example: All the factors of 12</b></span><br/>
				2 × 6 = 12,<br/>
				3 × 4 = 12,<br/>
				1 × 12 = 12.<br/><br/>
				So 1, 2, 3, 4, 6 and 12 are factors of 12.<br/><br/>
				<b>Answer:</b> 1, 2, 3, 4, 6, 12
			</p>
		</div>
	</div>	

	<script src="/static/factors.js"></script>
    </body>
</html>
